{{ define "main" }}
  <main aria-role="main">
    {{ with .Params.subtitle }}
      <span class="subtitle">{{ . }}</span>
    {{ end }}

    <div>
      {{ with .Site.GetPage "about-me" }}
      <h1 class="section-header">{{ .Title }}</h1>
        <span>
          {{ .Summary }}
        </span>
        <a class="read-more" href="{{ .Permalink }}">Read more...</a>
      {{ end }}
    </div>
    
    <br />
    <br />
    <h2 class="section-header">Latest Posts</h2>
    <div>
      <ul class="posts-list">
        {{ range where .Site.RegularPages.ByPublishDate.Reverse "Section" "posts" }}
          {{ partial "post_list_item.html" (dict "context" . "parent" $) }}
        {{ end }}
      </ul>
    </div>
  </main>
{{ end }}


