{{ define "main" }}
  <main aria-role="main">
    <header class="home-page-header">
      {{ with .Params.subtitle }}
        <span class="subtitle">{{ . }}</span>
      {{ end }}
    </header>
    <div class="home-page-content">
    </div>
    <div>
      {{ range first 10 .Site.RegularPages }}
      <a class="posts-list-item-title" href="{{ .Permalink }}"><h1>{{ .Title }}</h1></a>
        <span class="posts-list-item-description">
          {{ partial "icon.html" (dict "ctx" $ "name" "calendar") }}
          {{ .PublishDate.Format "Jan 2, 2006" }}
          <span class="posts-list-item-separator">-</span>
          {{ partial "icon.html" (dict "ctx" $ "name" "clock") }}
          {{ .ReadingTime }} min read
        </span>
        {{ .Content }}
        <hr />
      {{ end }}
    </div>
  </main>
{{ end }}


