{{ define "main" }}
  {{ $pages := where .Paginator.Pages "Type" "==" "page" }}

  <h1 class="section-header">{{ partial "page_title.html" . }}</h1>

  {{ if eq .Type "series" }}
    {{ .Description }}
  {{ end }}

  {{ range first 1 $pages }}
    <span>
      {{ .Summary }}
    </span>
    <a class="read-more" href="{{ .Permalink }}">Read more...</a>
  {{ end }}

  {{- if or (ne (len $pages) 0) (eq .Type "series") }}
    <br />
    <br />
    <h2 class="section-header">Posts</h2>
  {{- end }}

  {{ $posts := where .Paginator.Pages "Type" "!=" "page" }}
  
  <!-- If we are listing a series, reverse the order so it shows up in proper order -->
  {{ if eq .Type "series" }}
    {{ $posts = $posts | collections.Reverse }}
  {{ else if eq .Type "projects" }}
    {{ $posts = $posts.ByTitle }}
  {{ end }}

  {{ partial "post_list.html" (dict "pages" $posts "parent" $ ) }}

  {{ partial "pagination.html" $ }}
{{ end }}
