{{ define "main" }}
  <!-- <article> -->
    {{ $pages := where .Paginator.Pages "Type" "==" "page" }}

    <h1 class="section-header">{{ .Title }}</h1>

    {{ range $pages }}
      <span>
        {{ .Summary }}
      </span>
      <a class="read-more" href="{{ .Permalink }}">Read more...</a>
    {{ end }}
    {{- if ne (len $pages) 0 }}
      <br />
      <br />
      <h2 class="section-header">Posts</h2>
    {{- end }}
    <ul class="posts-list">
      {{ range where .Paginator.Pages "Type" "!=" "page" }}
        <li class="posts-list-item">
          <a class="posts-list-item-title" href="{{ .Permalink }}">{{ .Title }}</a>
          <span class="posts-list-item-description">
            {{ partial "icon.html" (dict "ctx" $ "name" "calendar") }}
            {{ .PublishDate.Format "Jan 2, 2006" }}
            <span class="posts-list-item-separator">-</span>
            {{ partial "icon.html" (dict "ctx" $ "name" "clock") }}
            {{ .ReadingTime }} min read
          </span>
          {{ .Summary }}
        </li>
      {{ end }}
    </ul>
    {{ partial "pagination.html" $ }}
  <!-- </article> -->
{{ end }}
