{{ define "main" }}
  <article class="post">
    <header class="post-header">
      <h1 class ="post-title">{{ .Title }}</h1>
      <div class="post-meta">
        {{ partial "date.html" . }}
        {{- if ne .Type "page" }}
          <div>
            {{ partial "icon.html" (dict "ctx" $ "name" "clock") }}
            {{ .ReadingTime }} min read
          </div>
          {{- with .Params.tags }}
          <div>
            {{ partial "icon.html" (dict "ctx" $ "name" "tag") }}
            {{- range . -}}
              {{ with $.Site.GetPage (printf "/%s/%s" "tags" . ) }}
                <a class="tag" href="{{ .Permalink }}">{{ .Title }}</a>
              {{- end }}
            {{- end }}
          </div>
          {{- end }}
        {{- end }}
      </div>
    </header>
    <div class="post-content">
      {{ .Content }}
    </div>

    <div class="post-footer">
      {{ $pages := .Site.RegularPages.Related . | first 5 }}

      {{- if eq .Type "page" }}
        {{ $posts := where .Site.Pages "Section" "posts" }}
        {{ $firsttag := index .Params.tags 0 }}
        {{ $taggedContent := (index .Site.Taxonomies.tags (lower $firsttag)).Pages }}
        {{ $pages = intersect $posts $taggedContent}}
      {{- end }}

      {{ with $pages }}
        <hr />
        <h3>Related Pages</h3>
        <ul>
        {{ range first 5 $pages }}
          <li>
              <a class="posts-list-item-title" href="{{ .Permalink }}">{{ .Title }}</a>
              <span class="posts-list-item-description">
                {{ partial "icon.html" (dict "ctx" $ "name" "calendar") }}
                {{ .PublishDate.Format "Jan 2, 2006" }}
                <span class="posts-list-item-separator">-</span>
                {{ partial "icon.html" (dict "ctx" $ "name" "clock") }}
                {{ .ReadingTime }} min read
              </span>
            </li>
        {{ end }}
        </ul>
      {{ end }}
    </div>
  </article>
{{ end }}
