{{ define "main" }}
  {{ $page_type := .Page.Type }}
  <h1 class="section-header">{{ .Title }}</h1>
  {{ if eq $page_type "series" }}
    <ul class="posts-list">
      {{ range .Data.Terms.ByCount }}
        <li class="posts-list-item">
            <a class="posts-list-item-title" href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
            <span>({{ .Count }} Articles)</span>
            <div>
              {{ .Page.Description }}
            </div>
        </li>
      {{ end }}
    </ul>
  {{ else }}
    <ul class="tags-list">
      {{ range .Data.Terms.ByCount }}
        <li class="tags-list-item">
            {{ partial "icon.html" (dict "ctx" $ "name" "tag") }}
            <a class="tags-list-item-title" href="{{ .Page.Permalink }}">
              ({{ .Count }})
              {{ .Page.Title }}
            </a>
        </li>
      {{ end }}
    </ul>
  {{ end }}
{{ end }}
