code {
    color: #d22778;
}

div.highlight > * > code {
    color: inherit;
}

pre:has(code.language-warning) {
    border-color: #FF0000;
    background-color: #ff000074;
    font-weight: bold;

    white-space: pre-wrap;

    code {
        color: $light-color;
    }
}

pre:has(code.language-note) {
    border-color: #eaff00;
    background-color: #484400;
    font-weight: bold;

    white-space: pre-wrap;

    code {
        color: $light-color;
    }
}

div.app-header-social > a > img {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-top: -0.125em;
}
