a:not(.app-header-social *) {
    color: #e8ae84;
}

a:hover {
    color: #f7ddca;
}

code {
    color: #a93d6f;
}

pre.chroma > code {
    color: inherit;
}

a.read-more {
    display: block;
    font-size: 1.2em;
    margin: 1em 0 0 0;
}

pre:has(code.language-warning) {
    border-color: #b40000;
    background-color: #ab030374;
    font-weight: bold;

    white-space: pre-wrap;

    code {
        color: $light-color;
    }
}

pre:has(code.language-note) {
    border-color: #a5b400;
    background-color: #484400af;
    font-weight: bold;

    white-space: pre-wrap;

    code {
        color: $light-color;
    }
}

div.app-header-social > a > img {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-top: -0.125em;
}

span.app-header-title {
    color: $primary-color;
}

// table {
//     border-collapse: collapse;
// }

// table > tbody > tr > td,
// table > thead > tr > th {
//     border: 1px solid #494949;
//     margin: 0;
//     padding: 5px;
// }

.post-title {
  font-size: 2em;
  line-height: 1.5em;
  margin-bottom: 0px !important;
  font-weight: bold;
}

h1.section-header,
h2.section-header {
  margin: 0;
  margin-bottom: 3px;
  padding-bottom: -3px;
  display: block;
  width: 100%;
  border-bottom: 1px solid $lightest-color;
}


h2:not(.section-header) {
    margin-top: 1.75em;
    margin-bottom: -0.5em;
    padding-bottom: -3px;
}

hr.section-header {
  margin: 0;
}

ul.posts-list {
    margin: 0;
}

span.posts-list-item-this-page,
a.posts-list-item-title {
    font-size: 1.25em;
}

span.posts-list-item-this-page {
    font-weight: bold;
    color: #d85f5f;
}

li.posts-list-item {
    padding: 14px 0;
}

.app-header-avatar {
    border: 0.4rem solid rgba($primary-color, 0.4);
  }

.post-meta > div {
    margin-bottom: 4px;
}

@import 'syntax';